@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  
}
.signup-container{
  width: 90%;
  height: calc(100vh - 66px);

  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  justify-content: center;
}
.sign-heading{
  font-size: 25px;
  font-weight: bold;
}
.main-container{
  background-color: #f2f3f5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
